server:
  port: 9500

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./blog.db
  jpa:
    generate-ddl: on
    hibernate:
      ddl-auto: update
    show-sql: true

  logging:
    level:
      org:
        hibernate:
          SQL: debug
          type: trace